@model ProjetoUniversidade.Models.CursoTurno

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CursoTurno</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Curso.nomeCurso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curso.nomeCurso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Turno.descricaoTurno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Turno.descricaoTurno)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdCursoTurno }) |
    @Html.ActionLink("Back to List", "Index")
</p>
