@model IEnumerable<ProjetoUniversidade.Models.Turno>

@{
    ViewBag.Title = "Index";
}

<h2>Turno</h2>

<p>
    @Html.ActionLink("Novo Turno", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.descricaoTurno)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descricaoTurno)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdTurno }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.IdTurno }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.IdTurno })
        </td>
    </tr>
}

</table>
