@model ProjetoUniversidade.Models.Disciplina

@{
    ViewBag.Title = "Details";
}

<h3>Detalhes do Cadastro</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nomeDisciplina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomeDisciplina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codigoDisciplina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigoDisciplina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numeroAulas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numeroAulas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.periodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.periodo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Curso.nomeCurso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curso.nomeCurso)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdDisciplina }) |
    @Html.ActionLink("Voltar", "Index")
</p>
